.player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 20);
  display: flex;
  flex-direction: column;
}

.screen {
  flex-grow: 1;
}

.player .bottom-controls {
  background: black;
  display: flex;
}

.player .player-button {
  border-style: none;
  color: white;
  background-color: transparent;
  font-size: 20px;
  height: 30px;
  width: 30px;
}

.player .player-button.play {
  margin: 6px 0 7px 3px;
}

.player .player-button.volume {
  margin: 6px 0 7px 3px;
}

.player .player-button.fullscreen {
  margin: 6px 4px 7px 3px;
}


.player .bottom-controls .viewing-panel {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: flex;
  flex-grow: 1;
  margin: 0 0 0 4px;
}

.player .bottom-controls .viewing-panel .viewing-time {
  align-self: center;
}

.player .bottom-controls .viewing-panel .viewing-progressbar {
  flex-grow: 1;
  margin: 0 10px 0 10px;
  align-items: center;
}

.player .bottom-controls .viewing-panel .progress-bar {
  background-color: black;
  display: flex;
  flex-direction: row;
}

.player .bottom-controls .viewing-panel .progressbar-slider {
  background-color: red;
  height: 5px;
  border-radius: 5px;
}

.player .bottom-controls .viewing-panel .dot {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  border: 3px white solid;
  align-items: center;
  margin: 0 0 0 -4px;
}
